# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Datos generados (no versionar)
feature_store/data/
feature_store/registry/
feature_store/online_store/
training/model/

# MLflow local
mlruns/

# Sistema
.DS_Store
*.log
